body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}
.author a {
    color: #ee4444;
}

.navbar-inverse .navbar-brand {
    background: #ff0000;
    color: #ffffff;
}

.navbar-inverse {
    background: #ff0000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #ff0000;
}

.nav {
    background: #ff0000;
}

.navbar-nav {
    background: #ff0000;
}

.navbar {
    background: #ff0000;
}

.navbar-fixed-bottom a {
    color: #ffffff;
}




